h2 {
  margin: 4px 0px 4px 0px;
  font-family: Trebuchet MS, sans-serif;
}

a {
  font-family: Rubik;
}

div {
  color: rgb(85, 26, 139);
  font-family: Rubik;
}

img {max-width: 100%;
    width: 100%;
}
